body { 
    background: url(../img/City.jpg);
    font-family: sans-serif;

}

h1, h2, h3, h4 {
    font-family: 'Aldrich', sans-serif;
    color: white;
}


#wrapper {

    width: 960px;
    margin: 0 auto;  
}

.banner img {
    width: 970px; 
    height: 290px;
    border: 2px solid black;
    opacity:0.95;
    box-shadow: 1px 1px 4px 3px black;
}

.content {
width: 960px;   
background-color: black;
overflow: hidden;
padding-left: 10px;
border: 2px solid black;
opacity:0.95;
box-shadow: 1px 1px 4px 3px black;
color: white;
padding-bottom: 9px;
margin-top: 
}

.content p {
    text-align: left;
}


nav li {

    display: inline;
    padding-left: 5px;
    color: #AF0000;
    text-shadow: 2px 4px 7px black;
    font-family: 'Aldrich', sans-serif;
}

nav {
    float: right;
    padding-bottom: 5px;
}
nav a {
    text-decoration: none;
    color: white;

}

nav ul a:hover {

   text-decoration: underline;
   text-shadow: 1px 1px 6px white;
}


header h1 {
	color: white;
	font-size: 35px;
    text-shadow: 2px 4px 7px black;
    float: left;
    margin: 7px 5px;
   } 

h2 {
    border-bottom: 2px solid white;
}

h3 {
  padding-top: 14px;
}

h3:hover{
  text-decoration: underline;
}


p {
    text-align: left;    
}


.content form ul li{
    
    color: white;
    margin-bottom: 10px;
}

label {
    display: block;
    cursor: pointer;
    padding-bottom: 6px;
}


.mezelf img {
  width: 300px;
  height: 280px;
  float: right;
  border-radius: 2%;
  border: 1px solid white;
}


div.img img
{
  display: inline;
  margin: 15px;
  border: 1px solid ;
  height: 220px;
  width: 390px;
}
div.img a:hover img {border: 1px solid white;}

.links {
  text-align: left;
}

.left {
position: absolute;
width:650px;
}
.first2 ul{
  color:white;
}

.form1 ul {
  text-decoration: none;
  float: left;
  color: white;
   list-style: none;
}

.blog img {
  float: left;
  padding-right: 7px;
}

footer {
width: 965px;  
background-color: black;
overflow: hidden;
padding-top: 3px;
padding-left: 10px;
border-top: 1px solid white;
opacity:0.95;
box-shadow: 1px 1px 4px 3px black;
color: white;
}

footer p {
  text-align: center;
}

.social-button ul li {

  list-style: none;
  display: inline;
  margin:0 auto;
  position: relative;
  left: 385px;

}

.social-button img {
   width: 23px;
  height: 23px;
}